@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');


.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Barlow', sans-serif;
  width: calc(100vw - 200px);
  height: 100vh;
  // padding-top: 50px;
  background-color: #E8E8E8;
  // justify-content: space-around;
}

.mapa {
  width: 100%;
  height: 100%;
}

.mapa h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
}
