// @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


// @media screen and (max-width: 540px) {
//   .menu-desktop {
//     display: none;
//   }

//   .menu-mobile {
//     display: initial;
//   }
// }

@media screen and (min-width: 541px) {
  .menu-desktop {
    display: initial;
  }

  .menu-mobile {
    display: none;
  }
}

.menu-mobile {
  height: 100vh;
  display: none;
}

.menu-desktop {
  width: 200px;
  height: 100vh;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
}

.menu-lateral {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-lateral span {
  margin-left: 1  0px;
}

.logo-bombeiros {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.menu-desktop ul{
  padding: 0px;
}

.menu-desktop li {
  list-style: none;
  list-style-type: none;
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 0px 15px;
  height: 40px;
}

.menu-desktop li:hover {
  background-color: #a3a3a3;
}

.logout {
  position: absolute;
  bottom: 15px;
  padding: 0px 0px 15px 15px;
  width: 200px;
}

.menu-container {
  display: flex;
  height: 100%;
  background-color: rgb(222, 222, 222);
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
