<div class="container-usuarios">
  <div>

    <div class="header">
      <h1>Cadastro de Usuários</h1>
    </div>
    <div class="container-box">
      <form [formGroup]="formGroup" (ngSubmit)="cadastrar()">
        <div class="container-1">
          <div class="campos-form">
            <mat-form-field class="input-usuarios" appearance="fill">
              <mat-label>Nome Completo</mat-label>
              <input matInput formControlName="nomeCompleto">
              <mat-error *ngIf="formGroup.controls.nomeCompleto.invalid">Digite o nome completo</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- container 2 -->

        <div class="container-2">
          <div class="campos-form">
            <mat-form-field class="input-usuarios" appearance="fill" class="input-campos">
              <mat-label>Matricula</mat-label>
              <input matInput type="number" formControlName="matricula">
              <mat-error *ngIf="formGroup.controls.matricula.invalid">Preencha a matrícula.</mat-error>
            </mat-form-field>
          </div>
          <div class="campos-form">
            <mat-form-field class="input-usuarios" appearance="fill" class="input-campos">
              <mat-label>Nome de Guerra</mat-label>
              <input matInput formControlName="nomeDeGuerra">
            </mat-form-field>
          </div>
        </div>

        <!-- container 3 -->
        <div class="container-3">
          <div class="campos-form">
            <mat-form-field appearance="fill" class="input-campos">
              <mat-label>Digite sua senha</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" name="senha" formControlName="senha">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="formGroup.controls.senha.invalid">A senha precisa ter pelo menos 6 caracteres.</mat-error>
            </mat-form-field>
          </div>
          <div class="campos-form">
            <mat-form-field appearance="fill" class="input-campos">
              <mat-label>Confirme sua senha</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" name="confirmacaoSenha"
                formControlName="confirmacaoSenha">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="formGroup.controls.confirmacaoSenha.invalid">A senha precisa ter pelo menos 6 caracteres.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="container-4">
          <div class="campos-form">
            <mat-form-field appearance="fill" class="input-campos">
              <mat-label>E-mail</mat-label>
              <input matInput type="email" formControlName="email">
              <mat-error *ngIf="formGroup.controls.email.invalid">E-mail inválido</mat-error>
            </mat-form-field>
          </div>
          <div class="campos-form">
            <mat-form-field appearance="fill" class="input-campos">
              <mat-label>Perfil de Acesso</mat-label>
              <mat-select formControlName="perfilAcesso">
                <mat-option *ngFor="let perfil of perfis" [value]="perfil.value">
                  {{perfil.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="div-button">
          <button class="btn btn-danger">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Pesquisa de Moradores -->
  <div class="relacao-usuarios">
    <div>
      <h4>Usuários Cadastrados</h4>
    </div>
    <div class="search-button">
      <span>
        <img src="../../assets/icone-pesquisa.png" alt="" width="24px"> Pesquisar
      </span>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{element.nome}}</td>
      </ng-container>

      <!-- Matricula Column -->
      <ng-container matColumnDef="matricula">
        <th mat-header-cell *matHeaderCellDef>Matricula</th>
        <td mat-cell *matCellDef="let element">{{element.matricula}}</td>
      </ng-container>

      <!-- Nome de Guerra Column -->
      <ng-container matColumnDef="nomeDeGuerra">
        <th mat-header-cell *matHeaderCellDef>Nome de Guerra</th>
        <td mat-cell *matCellDef="let element">{{element.nomeDeGuerra}}</td>
      </ng-container>

      <!-- E-mail Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>E-mail</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
      </ng-container>

      <!-- Perfil de Acesso Column -->
      <ng-container matColumnDef="perfilAcesso">
        <th mat-header-cell *matHeaderCellDef>Perfil de Acesso</th>
        <td mat-cell *matCellDef="let element">{{element.perfilAcesso}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons" [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>
  </div>
</div>
