@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&display=swap');

@media screen and (max-width: 670px) {
  .container-2, .container-3, .container-4, .container-5, .container-6 {
    display: flex;
    flex-direction: column;
  }

  .input-campos, .input-usuarios {
    width: 100%;
  }

  .container-usuarios {
    width: 100vw;
  }

  .container-box, .relacao-usuarios {
    width: 80vw;
  }
}

@media screen and (min-width:671px) and (max-width: 1000px) {
  .container-2, .container-3, .container-4, .container-5, .container-6 {
    display: flex;
    flex-direction: column;
  }

  .campos-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-campos, .input-usuarios {
    width: 400px;
  }

  .container-usuarios {
    width: calc(100vw - 200px);
  }

  .container-box, .relacao-usuarios {
    width: 70vw;
  }
}

@media screen and (min-width: 1001px) {
  .container-2, .container-3, .container-4, .container-5, .container-6 {
    display: flex;
    justify-content: space-between;
  }

  .input-campos {
    width: 200px;
  }

  .input-usuarios {
    width: 100%;
  }

  .container-usuarios {
    width: calc(100vw - 200px);
  }

  .container-box, .relacao-usuarios {
    width: 60vw;
  }
}

.container-usuarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: 'Barlow', sans-serif;
  padding-top: 50px;
  background-color: #E8E8E8;
  justify-content: space-around;
}

.header {
  height: 100px;
}
.header h1 {
  text-align: center;
}

#btn-deletar-edificacao {
  margin-right: 10px;
}

.btn-danger {
  width: 100px;
  justify-self: end;
}

.campos-form {
  margin-bottom: 15px;
}

.campos-form .label-sm {
  width: 80px !important;
  margin-right: 5px;
}

.div-button {
  display: flex;
  flex-direction: row-reverse;
}

.label-lg {
  width: 130px !important;
}

.label-lg-password {
  width: 180px;
}

.relacao-usuarios {
  display: flex;
  flex-direction: column;
}

.table {
  overflow: auto;
}

.search-button {
  cursor: pointer;
  width: 110px;
  border-radius: 5px;
  height: 30px;
}

.search-button:hover {
  background-color: #a3a3a3;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.div1, .div2 {
  height: 400px;
  overflow: auto;
}


