<div class="login-container">
  <div class="logo-bombeiros-login">
    <img src="../../assets/bombeiros-sc.png" alt="" width="250px">
  </div>
  <div class="box-login">
    <form class="login">
      <div class="mb-3">
        <input type="text" class="form-control" aria-describedby="usuario" placeholder="Usuário" name="usuario" [(ngModel)]="usuario">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Senha" name="senha" [(ngModel)]="senha">
      </div>
      <div class="botao-container">
        <button (click)="entrar()" type="submit" class="btn btn-danger">Acessar</button>
        <a href="#">Esqueci a senha</a>
      </div>
    </form>
  </div>
</div>
