<form [formGroup]="formGroup">
  <!-- Nome: <input type="text" formControlName="nomeCompleto"><br>
  Matricula: <input type="text" formControlName="matricula"><br>
  Nome de Guerra: <input type="text" formControlName="nomeDeGuerra"><br>
  Senha: <input type="text" formControlName="senha"><br>
  E-mail: <input type="text" formControlName="email"><br>
  Perfil de Acesso: <input type="text" formControlName="perfilAcesso"><br> -->

  <br>CEP: <input type="text" formControlName="cep">
  <button type="button" (click)="getEnderecoPeloCep()">Enviar</button><br>
  Rua: <input type="text" formControlName="rua"><br>
</form>


