<div class="container-relatorios">
  <div class="header">
    <h1>Relatórios</h1>
  </div>
  <div class="filtro">
    <mat-form-field appearance="fill" class="input-filtro">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Digite um dado de pesquisa"
        #input
      />
    </mat-form-field>
  </div>
  <div class="relatorio">
    <table
      #relatorio
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table tabela"
    >
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
      </ng-container>

      <!-- Matricula Column -->
      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef>Endereço</th>
        <td mat-cell *matCellDef="let element">{{ element.endereco }}</td>
      </ng-container>

      <!-- Nome de Guerra Column -->
      <ng-container matColumnDef="telefone1">
        <th mat-header-cell *matHeaderCellDef>Telefone</th>
        <td mat-cell *matCellDef="let element">{{ element.telefone }}</td>
      </ng-container>

      <!-- E-mail Column -->
      <ng-container matColumnDef="tipoEdificacao">
        <th mat-header-cell *matHeaderCellDef>Tipo Edificação</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tipoEdificacao }}
        </td>
      </ng-container>

      <!-- E-mail Column -->
      <ng-container matColumnDef="validadeMangueira">
        <th mat-header-cell *matHeaderCellDef>Validade Mangueira</th>
        <td mat-cell *matCellDef="let element">
          {{ element.validadeMangueira | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <!-- E-mail Column -->
      <ng-container matColumnDef="validadeExtintor">
        <th mat-header-cell *matHeaderCellDef>Validade Extintor</th>
        <td mat-cell *matCellDef="let element">
          {{ element.validadeExtintor | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <!-- E-mail Column -->
      <ng-container matColumnDef="validadeValvula">
        <th mat-header-cell *matHeaderCellDef>Validade Válvula</th>
        <td mat-cell *matCellDef="let element">
          {{ element.validadeValvula | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <!-- E-mail Column -->
      <ng-container matColumnDef="validadeHidrante">
        <th mat-header-cell *matHeaderCellDef>Validade Hidrante</th>
        <td mat-cell *matCellDef="let element">
          {{ element.validadeHidrante | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageIndex]="pageIndex"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
  <button mat-raised-button (click)="exportAsExcel()">Exportar</button>
</div>
